<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>EN:</p>
        <p>{{text}}</p>
        <p>{{language}}</p>
        <p>{{translation}}</p>
    </body>
</html>