<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <form action="/submit" method="post">
            Language:
            <input type="text" name="language">
            <br>
            Text:
            <input type="text" name="word">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>